<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <h1>
        Add Employee
      </h1>
      <form action="/admin_homepage" method="post">
        <input type="hidden" name="adminID" value="{{empid}}" />
        <input type="submit" value="Return to Admin Homepage"/>
      </form>
      <form action="/add_employee" method="post">
        <input type="hidden" name="adminID" value="{{empid}}"/>
        Employee ID: <input type="number" name="employeeID" required/><br/>
        Name: <input type="text" name="Name" required /><br/>
        Password: <input type="text" name="password" required /><br/>
        Address: <input type="text" name="address" required /><br/>
        City: <input type="text" name="city" required /><br/>
        Bank Name: <input type="text" name="bankName" required /><br/>
        Bank Account Number: <input type="number" name="accountNumber" required /><br/>
        <input type="checkbox" name="manager" value="manager">Manager<br/>
        <input type="submit" value="Add Employee"/><br/>
      </form>

    </body>
</html>
