<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <h1>
        Add Employee
      </h1>
      <form action="/add_employee" method="post">
        <input type="hidden" name="adminID" value="{{empid}}"/>
        Employee ID: <input type="number" name="employeeID"/><br/>
        Name: <input type="text" name="Name"/><br/>
        Password: <input type="text" name="password"/><br/>
        Address: <input type="text" name="address"/><br/>
        City: <input type="text" name="city"/><br/>
        Bank Name: <input type="text" name="bankName"/><br/>
        Bank Account Number: <input type="number" name="accountNumber"/><br/>
        <input type="checkbox" name="manager" value="manager">Manager<br/>
        <input type="submit" value="Add Employee"/><br/>
      </form> 

    </body>
</html>
