<!DOCTYPE html>
<html>

<head>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
		$SCRIPT_ROOT = {
			{
				request.script_root | tojson | safe
			}
		};
	</script>
	<script type="text/javascript" src="static/document_viewer.js"></script>
</head>

<body>
	<h1>
	Documents for Employee ID:
		<div id="emp">
			{{empid}}
		</div>
	</h1>
	<form action="/employee_homepage" method="post">
		<input type="hidden" name="empID" value="{{empid}}" />
		<input type="submit" value="Go to homepage" />
	</form>
	<div id="documentViewer">

	</div>
</body>

</html>
