<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <h1>
        Edit Employee
    </h1>
    <form action="/employee_homepage" method="post">
  		<input type="hidden" name="empID" value="{{empid}}" />
  		<input type="submit" value="Go to homepage" />
  	</form>
    <form action="/edit_employee_submit" method="post">
        <input type="hidden" name="empID" value="{{empid}}" />
        <br/> Name: <input type="text" name="Name" value="{{emp_name}}" required />
        <br/> Address: <input type="text" name="address" value="{{emp_addr}}" required />
        <br/> City: <input type="text" name="city" value="{{emp_city}}" required />
        <br/> Bank Name: <input type="text" name="bankName" value="{{emp_bank_name}}" required />
        <br/> Bank Account Number: <input type="number" name="accountNumber" value="{{emp_bank_num}}" required /><br/>
        <input type="submit" value="Edit Info" /><br/>
    </form>

</body>

</html>
