<!DOCTYPE html>
<html>

<head>

  <script>
  function comparePassword(){
    var newPassword = document.forms["changePwd"]["newPassword"];
    var repeatNew = document.forms["changePwd"]["newPasswordCheck"];
    if (newPassword == repeatNew){
      if (newPassword.includes("/")){
        alert("Cannot have character / in the password");
        return false;
      }
      return true;
    }
    alert("Passwords do not match");
    return false;
  }
  </script>
</head>

<body>
    <h1>
        Edit Password for {{empid}}
    </h1>
    <form action="/employee_homepage" method="post">
  		<input type="hidden" name="empID" value="{{empid}}" />
  		<input type="submit" value="Go to homepage" />
  	</form>
    <hr>
    <form name="changePwd" action="/change_password" method="post" onsubmit="return comparePassword()">
      <input type="hidden" name="empID" value="{{empid}}" />
      Original Password: <input type="password" name="orgPassword" required/>
      <br/>
      New Password: <input type="password" name="newPassword" required/>
      <br/>
      New Password (Repeated): <input type="password" name="newPasswordCheck" required/>
      <input type="submit" value="Change Password" /><br/>
    </form>
</body>

</html>
