<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      {{ empid }}
      <br/>
      {{ message }}
      <br/>
      <form action="/upload_resume_page" method="post">
        <input type="hidden" name="empID" value="{{empid}}"/>
        <input type="submit" value="Upload Resume"/>
      </form>
      <form action="/generate_new_schedules" method="post">
        <input type="hidden" name="empID" value="{{empid}}"/>
        <input type="submit" value="Do Something later. Don't Click"/>
      </form>
      <form action="/change_preferences" method="post">
        <input type="hidden" name="empID" value="{{empid}}"/>
        <input type="submit" value="Change Preferences"/>
      </form>
    </body>
</html>
